.weather {
    /* display: flex; 
    flex-direction: column; 
    align-items: flex-start;
    justify-content: center;  */
    padding: 1%;
    background-color: rgb(194, 223, 248, 0.4);
    width: 60%;
    height: 80%;
    margin-top: 2%; 
    border-radius: 20px;

    .local {
        display: flex; 
        flex-direction: row; 

        h1 {
            margin:0%;
            font-size: 1.4em;

        }
        .cityName{
            padding-left: 5%;
        }
    }

    .today {
        display: grid;
        align-items: center;
        justify-items : center;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100;
        height: 90%;

        .current_weather{
            img{
                height: 100px;
                width: 100px;
            }

            p {
                font-size: 1.5rem;
                font-weight: bold;
                text-align: center;
                margin: 0px;
            }
        }

        .current_temp{
            .temps{
                h1{
                    font-weight: bold;
                }
                span {
                    font-size: 0.4em;
                    writing-mode: vertical-rl;
                }
            }

        }

    }
}
