.weather {
    /* display: flex; 
    flex-direction: column; 
    align-items: flex-start;
    justify-content: center;  */
    padding: 1%;
    background-color: rgb(194, 223, 248, 0.4);
    width: 60%;
    height: 80%;
    margin-top: 2%; 
    border-radius: 20px;

    .local {
        display: flex; 
        flex-direction: row; 

        h1 {
            margin:0%;
            font-size: 1.4em;

        }
        .cityName{
            padding-left: 5%;
        }
    }

    .today {
        display: flex;
        flex-direction: row;

        .current_weather{
            img{
                height: 10%;
                width: 10%;
            }
        }

        .current_temp span {
            font-size: 0.4em;
            writing-mode: vertical-rl;
        }
    }
}
